<!doctype html>
<html lang="en" style="height:100%; " class="dark-mode">
    <head>
    <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <link rel="stylesheet" type="text/css" href="../static/stylesheet.css" />
        <style>
            .navbar-light .navbar-nav .nav-link  {color: var(--font-color)}
            .navbar-light .navbar-nav .nav-link:hover {color: var(--color-accent);}
            .zv-navbar-bg {background-color: var(--color-background);}
        </style>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

        <title>CryptoWorld</title>
    </head>
</html>
    <body style="height:100%; font-family: 'Trebuchet MS', sans-serif; background: var(--color-background)" onload="setupTable();">
        
        <!-- Navbar -->
        <nav class="navbar navbar-expand navbar-light zv-nav zv-navbar-bg" style="padding-left:20px; padding-right:20px;">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html" style="color: var(--color-accent);">
                CryptoWorld
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav centered">
                    <li class="nav-item">
                        <a class="nav-link" href="/home" style="font-size:23px; padding-left: 20px; padding-right: 20px;">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/research" style="font-size:23px; padding-left: 20px; padding-right: 20px;">Research</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/portfolio" style="font-size:23px; padding-left: 20px; padding-right: 20px; color: var(--color-accent);">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/fun" style="font-size:23px; padding-left: 20px; padding-right: 20px;">Fun</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="toggleTheme()" style="font-size:23px;"><i id="themeToggle" class="bi bi-sun"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        </nav>
        
        <!-- Navbar -->
      
        <!-- Body Stuff Goes Here -->
        <div class="container">

            <div class="row justify-content-center" style="margin-bottom: 20px;">
                <p class="zv-h1 text-center" id="header_cryptoTicker">Your Portfolio</p>
            </div>

            <div class="row form-group" style="width:75%; margin:auto;">
                <!-- <div class="col-md-6" id="investments"> -->

                    <p class="zv-h2" style="text-align: center;">Your Current Investments</p>

                    
                    <form method="POST">
                        <div class="row justify-content-center" style="margin-bottom: 10px;">
                            <div class="input-group mb-3" style="width: 50%;">
                            
                                <input type="text" class="form-control" placeholder="Ticker" aria-label="Enter Ticker"
                                    aria-describedby="button-addon2" style="margin-right: 10px" id="add_ticker" name="add_ticker"/>
                                
                                <input type="text" class="form-control" placeholder="Percent Allocation" aria-label=""
                                    aria-describedby="button-addon2" style="margin-right: 10px" id="add_allocation" name="add_allocation"/>

                                <button class="btn btn-primary" type="submit" id="btn_addticker">Add</button>
                            
                            </div>
                        </div>
                    </form>
                                      
                    <!-- Table of current investments go here -->
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Ticker</th>
                                <th scope="col">Percentage</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody id="currentInvestmentsTable">
                            <tr>
                                <th scope="row">BTC</th>
                                <td>24%</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

            </div>

            <div class="row form-group">
                <div class="col-md-6">
                        
                </div>
                <div class="col-md-5">
                    <div id={{ chartID|safe }} class="chart" ></div>
                    <script type = "text/javascript">
                        var chart_id = {{ chartID|safe }}
                        var title = {{ title|safe }}
                        var data = {{ data|safe }}
                    </script>
                    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
                    <script src="https://code.highcharts.com/stock/highstock.js"></script> 
                    <script src="../static/js/main.js"></script>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    
                </div>
            </div>

        </div>
        <!-- Body Stuff Ends Here -->
        
        <footer class="fixed-bottom bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2021 Copyright:
            <a class="text-dark">CryptoEducation.com</a>
        </div>
        <!-- Copyright -->
        </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script>
        function setupTable() {

            // Add ticker to list of cookies
            // Get string of cookies
            // Append new ticker
            // Set cookie
            //cookie_tickers = getCookie("portfolio_tickers");
            //alert( cookie_tickers );
            //cookie_tickers += $("#add_ticker").val();
            //cookie_tickers += ",";
            //setCookie("portfolio_tickers", cookie_tickers, 365);
            //alert( cookie_tickers );
            //cookie_allocation = getCookie("portfolio_allocations");
            //cookie_allocation += $("#add_allocation").val();
            //cookie_allocation += ",";
            //setCookie("portfolio_allocations", cookie_allocation, 365);
            //alert( cookie_allocation );

            { % for item in tickers % } 
            {
                
                const tickerValue = item.name;//document.getElementById('add_ticker').value;
                //const tickerQuantity = document.getElementById('add_quantity').value;

                const tbody = document.createElement('tr');
                tbody.setAttribute("id", tickerValue + "_row");

                tbody.innerHTML = '<th scope="row">' + tickerValue + '</th>' +
                        '<td id="' + tickerValue + '_row_quantity">' + "0%" + '</td>' +
                        '<td><input type="button" value="-" onclick="removeTicker(this)" /></td>';

                document.getElementById('currentInvestmentsTable').appendChild(tbody);

            }
            { % endfor % }
   
        }

        function removeTicker(input) {
            document.getElementById('currentInvestmentsTable').removeChild(input.parentNode.parentNode);
        }

        function setCookie(cname, cvalue, exdays) {
            const d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            let expires = "expires="+d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        function getCookie(cname) {
            let name = cname + "=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for(let i = 0; i <ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        function setTheme( newTheme ) {
            localStorage.setItem( 'theme', newTheme );
            document.documentElement.className = newTheme;
        }
        
        function toggleTheme() {
            if ( localStorage.getItem('theme') === 'light-mode' ) {
                setTheme( 'dark-mode' ) ;
                document.getElementById("themeToggle").className = "bi bi-sun";
            } else {
                setTheme( 'light-mode' );
                document.getElementById("themeToggle").className = "bi bi-moon";
            }
        }
        
        (function () {
            if ( localStorage.getItem('theme') === 'light-mode' ) {
                setTheme( 'light-mode' ) ;
                document.getElementById("themeToggle").className = "bi bi-moon";
            } 
        })();

    </script>
  </body>
</html>